.referral-modal__portals {
        --z-index-referral-modal-portals: calc(var(--z-index-profile-portals, 1000) * 20);

        z-index: var(--z-index-referral-modal-portals);
    }
    .referral-modal__wrapper .referral-modal__close {
        position: absolute;
        top: var(--spacing-12);
        right: var(--spacing-12);
        background-color: var(--color-background-default);
    }
    .referral-modal__wrapper {
        --modal-margin: var(--spacing-32);

        display: flex;
        flex-direction: column;
        width: 764px;
        max-width: calc(100% - var(--modal-margin));
        max-height: calc(100% - var(--modal-margin));
        border-radius: var(--border-radius-20);
    }
    @media (max-width: 767px) {
    .referral-modal__wrapper {
            height: 100%;
            border-radius: var(--border-radius-12)
    }
        }
    .referral-modal__scrollable {
        height: 100%;
    }
    .referral-modal__content {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        width: 696px;
        max-width: 100%;
        min-height: 100%;
        padding: 32px;
    }
    @media (max-width: 767px) {
    .referral-modal__content {
            padding: 32px 16px 16px
    }
        }
    .referral-modal__title {
        margin: 0 0 var(--spacing-16);
        font: var(--font-sans-header-48-medium);
    }
    @media (max-width: 767px) {
    .referral-modal__title {
            margin: 0 0 var(--spacing-24);
            padding-right: 44px;
            font: var(--font-sans-header-28-medium)
    }
        }
    .referral-modal__text {
        margin: 0 0 var(--spacing-32);
        font: var(--font-sans-body-18-medium-ui);
    }
    .referral-modal__actions {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--spacing-32);
    }
    @media (max-width: 767px) {
    .referral-modal__actions {
            flex-direction: column-reverse;
            margin-top: auto
    }
        }
    .referral-modal__button_process.referral-modal__button_process.referral-modal__button_process.referral-modal__button_process {
            background-color: var(--color-accent-neutral);
        }
    @media (max-width: 767px) {
    .referral-modal__button {
            position: sticky;
            bottom: 16px;
            width: 100%
    }
        }
    .referral-modal__image {
        width: 430px;
        max-width: 100%;
    }

.scrollbar-remover {
    --scroll-bar-width: 16px;
    overflow: scroll;
    box-sizing: content-box;
    width: calc(100% + 16px);
    width: calc(100% + var(--scroll-bar-width, 16px));
    min-width: 100%;
    max-width: inherit;
    min-height: 100%;
    max-height: inherit;
    margin-bottom: calc(-1 * 16px);
    margin-bottom: calc(-1 * var(--scroll-bar-width, 16px));
    padding-right: 16px;
    padding-right: var(--scroll-bar-width, 16px);
}

.scrollbar-remover_overlay-scrollbar {
    --scroll-bar-width: 1px;
    scrollbar-width: none;
}

.scrollbar-remover_overlay-scrollbar::-webkit-scrollbar,
.scrollbar-remover_overlay-scrollbar::-webkit-scrollbar-corner {
    width: 0;
    height: 0;
}

@keyframes menuFadeIn {
    0% {
        visibility: hidden;
        opacity: 0;
    }

    1% {
        visibility: visible;
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}
@keyframes theoryFragmentAppearance {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: none;
        opacity: 1;
    }
}
@keyframes fadeAppearance {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes placeholder-animation {
    0% {
        background-position: 0 50%;
    }

    65% {
        background-position: 0 50%;
    }

    100% {
        background-position: 1400px 50%;
    }
}
.scrollbar-default.scrollbar {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    transition: opacity 0.3s, background 0.3s;
}
.scrollbar-default.scrollbar_hidden {
    pointer-events: none;
    opacity: 0;
}
.scrollbar-default.scrollbar_hoverable:not(.scrollbar_dragging) {
    opacity: 0;
}
.scrollbar-default.scrollbar_compact {
    --scrollbar-scale: 1;
    transform-origin: 0 0;
}
.scrollbar-default.scrollbar_compact.scrollbar_vertical {
    transform: scaleY(1);
    transform: scaleY(var(--scrollbar-scale, 1));
}
.scrollbar-default.scrollbar_compact.scrollbar_horizontal {
    transform: scaleX(1);
    transform: scaleX(var(--scrollbar-scale, 1));
}
.scrollbar-default.scrollbar_vertical {
    height: 100%;
    height: var(--scrollbar-length, 100%);
}
.scrollbar-default.scrollbar_vertical .scrollbar__control-container {
    width: 8px;
    height: inherit;
    height: var(--scrollbar-control-container-size, inherit);
}
.scrollbar-default.scrollbar_vertical .scrollbar__control {
    height: 30px;
    height: var(--scrollbar-control-size, 30px);
    padding: 2px;
    transform: translate3d(0, calc(var(--scrollbar-control-offset) * var(--scrollbar-offset-size)), 0);
}
.scrollbar-default.scrollbar_vertical .scrollbar__control-line {
    width: calc(2 * 2px);
    height: 100%;
}
.scrollbar-default.scrollbar_horizontal {
    flex-direction: column;
    width: 100%;
    width: var(--scrollbar-length, 100%);
}
.scrollbar-default.scrollbar_horizontal .scrollbar__control-container {
    width: inherit;
    width: var(--scrollbar-control-container-size, inherit);
    height: 8px;
}
.scrollbar-default.scrollbar_horizontal .scrollbar__control {
    width: 30px;
    width: var(--scrollbar-control-size, 30px);
    padding: 2px;
    transform: translate3d(calc(var(--scrollbar-control-offset) * var(--scrollbar-offset-size)), 0, 0);
}
.scrollbar-default.scrollbar_horizontal .scrollbar__control-line {
    width: 100%;
    height: calc(2 * 2px);
}
.scrollbar-default.scrollbar:hover .scrollbar__control-line,
.scrollbar-default.scrollbar_dragging .scrollbar__control-line {
    background: rgba(0, 0, 0, 0.25);
    background: var(--active-control-bg, rgba(0, 0, 0, 0.25));
}
.scrollbar-default.scrollbar_content-hovered.scrollbar_hoverable:not(.scrollbar_hidden),
.scrollbar-default.scrollbar:hover.scrollbar_hoverable:not(.scrollbar_hidden) {
    pointer-events: auto;
    opacity: 1;
}
.scrollbar-default.scrollbar_content-hovered.scrollbar_hidden .scrollbar__control,
.scrollbar-default.scrollbar:hover.scrollbar_hidden .scrollbar__control {
    opacity: 1;
}
.scrollbar-default .scrollbar__control-container {
    position: relative;
    border-radius: 2px;
    background: none;
}
.scrollbar-default .scrollbar__control {
    position: absolute;
    top: 0;
    box-sizing: border-box;
    transition: height 0.1s, opacity 0.3s;
}
.scrollbar-default .scrollbar__control_hidden {
    opacity: 0;
}
.scrollbar-default .scrollbar__control-line {
    transition: background 0.3s;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.12);
    background: var(--control-bg, rgba(0, 0, 0, 0.12));
}

@keyframes menuFadeIn {
    0% {
        visibility: hidden;
        opacity: 0;
    }

    1% {
        visibility: visible;
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}
@keyframes theoryFragmentAppearance {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: none;
        opacity: 1;
    }
}
@keyframes fadeAppearance {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes placeholder-animation {
    0% {
        background-position: 0 50%;
    }

    65% {
        background-position: 0 50%;
    }

    100% {
        background-position: 1400px 50%;
    }
}
.scrollbar-default.scrollbar-skeleton.scrollbar_vertical {
    width: 20px;
    height: 100%;
    height: var(--scrollbar-length, 100%);
}
.scrollbar-default.scrollbar-skeleton.scrollbar_vertical .scrollbar__control-container {
    left: 10px;
    width: 1px;
}
.scrollbar-default.scrollbar-skeleton.scrollbar_vertical .scrollbar__control {
    left: -10px;
    height: 30px;
    height: var(--scrollbar-control-size, 30px);
    padding: 0 10px;
    transform: translate3d(0, calc(var(--scrollbar-control-offset) * var(--scrollbar-offset-size)), 0);
}
.scrollbar-default.scrollbar-skeleton.scrollbar_vertical .scrollbar__control-line {
    width: 1px;
    height: 100%;
}
.scrollbar-default.scrollbar-skeleton.scrollbar_horizontal {
    width: 100%;
    width: var(--scrollbar-length, 100%);
    height: 20px;
}
.scrollbar-default.scrollbar-skeleton.scrollbar_horizontal .scrollbar__control-container {
    top: 10px;
    height: 1px;
}
.scrollbar-default.scrollbar-skeleton.scrollbar_horizontal .scrollbar__control {
    top: -10px;
    width: 30px;
    width: var(--scrollbar-control-size, 30px);
    padding: 10px 0;
    transform: translate3d(calc(var(--scrollbar-control-offset) * var(--scrollbar-offset-size)), 0, 0);
}
.scrollbar-default.scrollbar-skeleton.scrollbar_horizontal .scrollbar__control-line {
    width: 100%;
    height: 1px;
}
.scrollbar-default.scrollbar-skeleton.scrollbar:hover .scrollbar__control-line,
.scrollbar-default.scrollbar-skeleton.scrollbar_dragging .scrollbar__control-line {
    background: #1a1b22;
}
.scrollbar-default.scrollbar-skeleton .scrollbar__control-container {
    position: relative;
    border-radius: 0;
    background: rgba(26, 27, 34, 0.27);
}
.scrollbar-default.scrollbar-skeleton .scrollbar__control-line {
    background: #1a1b22;
}

.scrollable-default.scrollable {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.scrollable-default.scrollable_touch {
    position: relative;
    display: block;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
}

.scrollable-default.scrollable_theme_dark {
    --scrollbar-bg: none;
    --control-bg: rgba(255, 255, 255, 0.2);
    --active-control-bg: rgba(255, 255, 255, 0.7);
}

.scrollable-default.scrollable_theme_light {
    --scrollbar-bg: none;
    --control-bg: var(--color-background-glassy-b);
    --active-control-bg: var(--color-background-glassy-b);
}

.scrollable-default .scrollable__scrollbar.scrollable__scrollbar {
    position: absolute;
}

.scrollable-default .scrollable__scrollbar.scrollable__scrollbar_type_horizontal {
    bottom: 0;
    left: 0;
}

.scrollable-default .scrollable__scrollbar.scrollable__scrollbar_type_vertical {
    top: 0;
    right: 0;
}

.scrollable-default .scrollable__content-wrapper {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    min-width: 100%;
    max-width: inherit;
    height: 100%;
    min-height: 100%;
    max-height: inherit;
}

.scrollable-default .scrollable__content-container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-sizing: content-box !important;
}

.scrollable-default .scrollable__content-container_unselectable {
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}

.scrollable-default .scrollable__content {
    flex-grow: 1;
    flex-shrink: 0;
    width: 100%;
    height: -moz-max-content;
    height: max-content;
}

.prisma-modal__overlay {
        background-color: var(--color-background-overlay);

        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .prisma-modal__content {
        --modal-content-margin: var(--spacing-8);

        box-sizing: border-box;

        background-color: var(--color-background-default);
        overflow: hidden;

        border-radius: var(--border-radius-12);

        max-width: 1424px;

        outline: none;
    }
    .prisma-modal__content_full-screen {
            height: calc(100% - 2 * var(--modal-content-margin));
            width: calc(100% - 2 * var(--modal-content-margin));
        }
    /* классы для CSSTransition */
    .prisma-modal_animated-enter,
        .prisma-modal_animated-appear {
            opacity: 0.1;
        }
    .prisma-modal_animated-enter .prisma-modal__content_animated, .prisma-modal_animated-appear .prisma-modal__content_animated {
                transform: translateY(50px) scale(0.98);
                opacity: 0;
            }
    .prisma-modal_animated-enter-active,
        .prisma-modal_animated-enter-done,
        .prisma-modal_animated-appear-active,
        .prisma-modal_animated-appear-done {
            opacity: 1;
            transition: opacity 0.2s ease-out, transform 0.2s ease-out;
        }
    .prisma-modal_animated-enter-active .prisma-modal__content_animated, .prisma-modal_animated-enter-done .prisma-modal__content_animated, .prisma-modal_animated-appear-active .prisma-modal__content_animated, .prisma-modal_animated-appear-done .prisma-modal__content_animated {
                transition: opacity 0.2s ease-out, transform 0.2s ease-out;

                transform: translateY(0px) scale(1);
                opacity: 1;
            }
    .prisma-modal_animated-exit {
            opacity: 1;
        }
    .prisma-modal_animated-exit .prisma-modal__content_animated {
                opacity: 1;
            }
    .prisma-modal_animated-exit-active {
            opacity: 0.1;
            transition: opacity 0.2s ease-out, transform 0.2s ease-out;
        }
    .prisma-modal_animated-exit-active .prisma-modal__content_animated {
                transition: opacity 0.2s ease-out, transform 0.2s ease-out;

                transform: translateY(50px) scale(0.98);
                opacity: 0;
            }


/*# sourceMappingURL=referral-modal.build.css.map*/